.head{
    display: flex;
}

.listCursos{
    margin: 0 10px 0 10px;
    
}

.listCursos  img{
    width: 88px;
    height: 106px;
    margin-top: 20px;
}

.listCursos > li{
    padding-bottom: 40px;
    display: flex;
    
}

.infoCurso{
    text-align: justify;
    padding-left: 10px;
}
