.profile{
    align-items: center;
    width: 320px;
    height: 100%;
}
.profilePhoto{
    
    height: 300px;
    width: 300px;
    border-radius: 2px;
    border-color: #1e2022;
    padding-bottom: 10px;
    object-fit: cover;
    
}

ul{
    padding-top: 20px;
    padding-bottom: 10px;
}

li{
    font-size: 15px;
    padding-bottom: 5px;
    list-style-type: none;
}

.profile a{
    text-decoration: none;
    padding: 0px 0px 10px 5px;
    color: #3391ff;
}

.profile a:hover{
    text-decoration: underline;
}
p{
    padding-bottom: 5px;
}
.desc{
    text-align: left;
    
}