@keyframes load{
    0%{
        width: 0%;
    }
    80%{
        width: 80%;
    }
}


.aboutMe{
    margin-top: 5px;
    padding-left: 15px;
}

.aboutMe > h2{
    margin: 10px 0px 15px 0px;
}

.aboutMe > ul{
    padding-left: 20px;
    list-style: square;
}
.aboutMe > ul> li{
    display: flex;
    padding-bottom: 18px;
}


.bar{
    height: 20px;
    width: 60%;
    float: left;
    background: #000000;
    border-radius: 50px;
    margin-right: 10px;
}

.progress{
    border-radius: 10px;
    height: 100%;
    animation: load 3.6s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s 1 normal none;
}

