.containerNav{
    width: 100%;
}

.scrolled{
    background-color: #fff;
    position: fixed;
}
.containerNav hr{
    border-top: 1px #2a2c2e;
}
.containerNav nav{
    display: flex;
    /* text-align: center; */
    height: 30px;
}



.containerNav a {
    color: inherit;
    text-decoration: none;
    padding: 5px 25px 5px 25px;
}

.containerNav a:hover {
    background: #2a2c2e;
}