*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  background: #181a1b;

}

body{
  font-family: sans-serif;
  color: #fafafa;
  
}

.App{
    display: inline;
}

.content{
  display: flex;
  margin-left: 10px;
  padding-top: 10px;
}

